
@font-face {
	font-family: "Aardvark Bold","DS CenturyCapitals";
 src: url("/fonts/aardv.ttf") format("ttf"),
 	url("/fonts/ds_centurycapitals.ttf") format("ttf");


}

*{
margin: 0px;
padding: 0px;

}
body{
	background-color: black;
}

.bg{
	margin-left: 20%;
	margin-top:2%;
	background-color: black;;
position: relative;
width: 780px;
height: 600px;

}

.grn{
position: absolute;
display:inline-block;
margin-top: 22%;
margin-left: 21%;
height: 460px;
width: 460px;

}
.plc{
position: absolute;
display: inline-block;
margin-top: 22%;
margin-left: 1%;
}

.rul{
	position: absolute;
	display:inline-block;
	margin-left: 38%;
	margin-top: 12%;
}

.fs{
	position: absolute;
	display:inline-block;
	margin-left: 21%;
	margin-top: 15%;margin-left: 21%;
	margin-top: 15%;

}
.cr{
	position: absolute;
	display:inline-block;
	margin-left: 63%;
	margin-top: 15%;
}

.cas{

	position: absolute;
	display:inline-block;
	margin-left: 36%;
	margin-top: 1%;
}

.sp{
	position: absolute;
	display:inline-block;
	margin-left: 2%;
	margin-top: 56%;

}

.cr2{
	position: absolute;
	display:inline-block;
	margin-top: 23%;
	margin-left: 80%;
	animation: scale 2s ease-in-out infinite;
}

.cr1{

	position: absolute;
	display:inline-block;
	margin-top: 23%;
	margin-left: 2%;
	animation: scale 2s ease-in-out infinite;
}

.pc{
	position: absolute;
	display:inline-block;
	margin-top: 27%;
	margin-left: 80%;

}

.dl{

	position: absolute;
	display:inline-block;
	margin-top: 27%;
	margin-left: 3%;

}

.tr1{
	position: absolute;
	display:inline-block;
	margin-top: 22%;
	margin-left: 33%;
	animation: rotate 2s ease-in-out infinite;
}

.tr2{

	position: absolute;
	display:inline-block;
	margin-top: 22%;
	margin-left: 62%;
	animation: rotate 2s ease-in-out infinite;
}

.titl{

font-family: "Arial BlackLItalic",Arial,Verdana;
color: red;
font-size: 14pt;
font-style: italic;
display:inline-block;
position: absolute;
margin-top: 28%;
margin-left: 29%;
letter-spacing :3px;
font-weight: 900;
animation: move 3s ease-in-out infinite,chncolor 2s ease-in-out infinite;
}
.men{
	color: yellow;
	font-family: "Lucida Console Regular",Tahoma;
	font-size: 14px;
	letter-spacing :3px;
	line-height: 19px;


}
.menu {
	display:inline-block;
	position: absolute;
	margin-top: 27%;
margin-left: 5%;


}

.menu a{
	text-decoration: none;
color: yellow;
}

.menu a:hover{
	text-decoration: none;
	color:rgb(255, 30, 0);

}

.gm{
font-family: "Aardvark Bold";
font-size: 11pt;
font-weight: 600;

}

.card{
	display:inline-block;
	position: absolute;
	margin-top: 27%;
	margin-left: 83%;
	color: yellow;
	font-weight: bolder;
	letter-spacing :2px;
	line-height: 19px;
}

.card a{

	text-decoration: none;
color: yellow;
}

.card a:hover{

	text-decoration: none;
color:rgb(255, 30, 0);
}

.tm{

	font-family: 'DS CenturyCapitals';
	font-size: 13pt;
	color: yellow;
	letter-spacing :5px;
	animation: chncolor 4s ease-in-out infinite;


}

.tmenu{
	display:inline-block;
	position: absolute;
	margin-top: 23%;
	margin-left: 7%;


}

.tgames{
	display:inline-block;
	position: absolute;
	margin-top: 23%;
	margin-left: 84%;

}

.maint{
	font-size: 11px;
margin-bottom: 17px;
color: yellow;
}

.maint1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 11px;
	margin-bottom: 17px;
	color: yellow;

}

.maint2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 11px;
	color: yellow;
}

.text{
	display:inline-block;
	position: absolute;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top: 32%;
margin-left: 25%;
letter-spacing :2px;
}

#server_vars{

	position: absolute;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top: 32%;
margin-left: 0%;


}

.tabl {
	position: absolute;
	width: 422px;
	height: 340px;
	overflow: scroll;
	margin-top: 32%;
margin-left: 25%;
  }

  #list {
    height: 40px;
    overflow-y: auto;
    padding: 10px;

}

.moto_motod {
    margin-top: 10px;
    padding: 10px;
    height: 170px;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
}

.thumbnail{
    height: 125px;
}

.moto_img_block{
    clear: left;
    float: left;
    width: 220px;
}

.moto_info{
    width: calc(53% - 30px);
    padding: 0 10px;
    margin-left:10px;
    float: left;
    height: 150px;
}

.moto_full_name{
    font-family: Adobe Clean Medium;
    font-size: 24px;
}

.moto_name{
    font-weight: 700;
}

.moto_model{
    margin-left: 5px;
}

.moto_price{
    background-color: #d9e11d;
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    padding: 5px 0;
}

.moto_info table tr, .moto_info table td{
    border: none;
}

.moto_info table tr td:last-child{
    padding-left: 10px;
}

.layout-slider{
	position : absolute;
	margin-top :30%;
	margin-left: 27%;
}

#can{
	position: absolute;
	margin-top: 35%;
	margin-left: 25%;
	align-content: center;
}
